@import './_variables.scss';


.hero {
  width: 100%;
  height: 120vh;
  background-image: linear-gradient(180deg, $yellow 65%, #fff 35%);
  padding: 1rem 2rem;
  @include breakpoint(sm) {
    background-image: linear-gradient(90deg, $yellow 50%, #fff 50%);
    padding: 2rem 4rem;
  }
  &__container {
    width: 100%;
    margin-top: $headerHeight;
    overflow: hidden;
    // max-width: 1200px;
    &__left {
      width: 100%;
      line-height: 1;
      margin-left: 0;
      padding-top: 0;
      @include breakpoint(sm) {
        line-height: 1.3;
        margin-left: 1rem;
        padding-top: 2rem;
      }
      h1 {
        font-weight: 900;
        font-size: 2.7em;
        margin-bottom: 0.5rem;
        @include breakpoint(sm) {
          font-size: 4em;
          margin-bottom: 1rem;
        }
      }
      p {
        font-weight: 400;
        font-size: 1.5em;
        margin-bottom: 2rem;
        @include breakpoint(sm) {
          font-size: 2em;
          margin-bottom: 2.5rem;
        }
        &::after {
          content: '';
          background: $black;
          width: 45px;
          height: 3px;
          display: block;
          margin-top: 2px;
          margin-left: 3px;
        }
      }
      &__btn1 {
        font-size: 1em;
        background-color: transparent;
        padding: 5px 15px;
        border-radius: $borderRadius;
        border: 1px solid $black;
        position: relative;
        transition: 0.3s all;
        margin-right: $spacing-md;
        @include breakpoint(sm) {
          font-size: 1.2em;
        }
        a {
          position: relative;
          z-index: 2;
          color: $black;
          text-decoration: none;
        }
        &:hover {
          background-color: $black;
          a {
            color: $yellow;
          }
        }
      }
      &__btn2 {
        font-size: 1em;
        background-color: $black;
        color: $yellow;
        padding: 5px 15px;
        margin-top: $spacing-sm;
        border-radius: $borderRadius;
        transition: 0.3s all;
        border: 1px solid $black;
        @include breakpoint(sm) {
          font-size: 1.2em;
        }
        &:hover {
          background: transparent;
          color: $black;
        }
      }
    }

    &__right {
      text-align: center;
      img {
        height: auto;
        width: 100%;
        margin-top: $spacing-lg;
        object-fit: contain;
        // padding-left: $spacing-md;
        @include breakpoint(sm) {
          margin-top: 0;
        }
      }
    }
  }
}

// ---------- Banner frase publicitaria ------------------
.advertising {
  background-color: $yellow;
  &__content {
    height: 55vh;
    &__left {
      position: relative;
      text-align: center;
      img {
        position: absolute;
        display: none;
        z-index: 9;
        top: -10%;
        left: 15%;
        @include breakpoint(sm) {
          height: auto;
          width: 75%;
          margin-top: -2rem;
          display: inline-block;
        }
      }
      // Elipce background de img3
      &__poligon {
        display: none;
        @include breakpoint(sm) {
          position: absolute;
          background-color: $greyDark;
          height: 22rem;
          width: 29rem;
          top: 12%;
          left: 16%;
          border-radius: 50%;
          z-index: 1;
          display: inline;
        }
      }
    }

    &__right {
      // text-align: center;
      @include breakpoint(sm) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
      }
      h2 {
        font-weight: 700;
        font-size: 2em;
        padding-inline: 2rem;
        @include breakpoint(sm) {
          font-weight: 700;
          font-size: 2.7em;
          padding-right: 4rem;
        }
      }
      p {
        padding-inline: 2rem;
        font-weight: 300;
        font-size: 1.1em;
        @include breakpoint(sm) {
          font-weight: 400;
          font-size: 1.3em;
          padding-right: 10rem;
        }
      }
    }
  }
}

//-------------- Lo que hacemos ------------
.services {
  padding-top: 5rem;
  margin-inline: 2rem;
  @include breakpoint(sm) {
    width: 100%;
  }
  &__title {
    font-weight: 900;
    font-size: 2em;
    margin-bottom: 1.5rem;
    @include breakpoint(sm) {
      padding-left: 2.7rem;
      font-size: 3em;
      margin-bottom: 1.5rem;
    }
    &::after {
      content: '';
      background: $yellow;
      width: 45px;
      height: 5px;
      display: block;
      margin-top: 4px;
      margin-left: 2px;
    }
  }

  &__content {
    margin-bottom: 2rem;
    border-radius: 45px;
    background-color: $black;
    width: 100%;
    @include breakpoint(sm) {
      margin-top: 2rem;
      // padding-top: 2rem;
      // padding-right: 2rem;
    }
    &__item {
      // margin-top: 1rem;
      &:hover {
        background-color: $yellow;
        border-radius: 45px;
        h3, p {
          color: $black;
        }
      }
      &__titleText {
        color: #fff;
        padding: 1.5rem;
        margin-top: 1rem;
        h3 {
          font-weight: 600;
        }
        p {
          &::before {
            content: '';
            background: $yellow;
            width: 45px;
            height: 4px;
            display: block;
            margin-bottom: 6px;
          }
        }
      }
      &__box {
        text-align: center;
        // border-radius: 45px;
        // padding-bottom: 1rem;
        @include breakpoint(sm) {
          height: 300px;
        }
        h3 {
          color: $yellow;
          padding-inline: 16px;
        }
        p {
          color: #fff;
          padding-inline: 1rem;
        }
        &__icon {
          color: #fff;
          height: 100px;
          width: 100px;
          margin: 1rem;
        }
      }
    }
  }
}