@import './variables.scss';

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(90deg, #fff 50%, $yellow 50%);
}